# -----------------------------------------------------------------------------
# Core Application Configuration
# -----------------------------------------------------------------------------
# Public Application Host URL (e.g., http://localhost:3000 in local development)
APP_URL=http://localhost:3000

# -----------------------------------------------------------------------------
# API Secrets & Integrated Keys
# -----------------------------------------------------------------------------
# Secure Google Gemini API Key
GEMINI_API_KEY=

# (Optional) Config for Supplemental Custom Google Search Integration
GOOGLE_CUSTOM_SEARCH_API_KEY=
GOOGLE_CUSTOM_SEARCH_CX=

